/*Paleta de colores: #4fa629 (verde), #f9a900 (naranja), #f00106 (rojo), #000 (negro), #bf0c1a (rojo oscuro)*/

*{
    margin: 0;
    padding: 0; 
}

.banner{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    position: absolute;
    top: 0;
}

.titulo-principal{
    font-size: 3rem;
    text-align: center;
    color: #bf0c1a;
    text-shadow: #f00106;
    margin-top: 120px;
}

.presentacion-marca{
    margin-top: 2rem;
    text-align: center;
}

.productos{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.producto1{
    width: 20%;
    padding: 2rem;
    border: 1px solid #bf0c1a;
    border-radius: 15px;
}

.carta{
    margin-top: 3rem;
}
