/*Paleta de colores: #4fa629 (verde), #f9a900 (naranja), #f00106 (rojo), #000 (negro), #bf0c1a (rojo oscuro)*/

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:black;
    color: #4fa629;
    font-size: 1.2rem;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.links{
    display: flex;
    padding: 2rem;
    list-style: none;
    
}

.links a{
    color: #4fa629;
}

.links a:visited{
    color: #4fa629;
}

.links a:hover{
    font-size: 1.5rem;
    color: #f9a900;
    transition: 0.5s;
}

.nav-link{
    padding: 2rem;
    text-decoration: none;
}

.titulo-principal{
    font-size: 3rem;
    text-align: center;
    color: #bf0c1a;
    text-shadow: #f00106;
}

.presentacion-marca{
    margin-top: 2rem;
    text-align: center;
}

.productos{
    display: flex;
    justify-content: space-around;
}

.producto1{
    width: 20%;
    padding: 2rem;
    border: 1px solid #bf0c1a;
    border-radius: 15px;
}
